<div class="container-fluid">
  <!-- header -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="header-section">
        <h5 class="text-muted mb-0">TuSegundazo.com</h5>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="banner-container position-relative">
        <img
          src="https://static4.depositphotos.com/1018414/325/i/450/depositphotos_3255720-stock-photo-silver-car-on-a-white.jpg"
          alt="Car Banner"
          class="img-fluid w-75 float-end object-fit-cover"
          style="max-height: 400px;"
        />
        <div
          class="banner-text position-absolute centered-text"
          style="bottom: 30px;"
        >
          <div class="badge-blue px-4 py-2">
            <h5 class="text-white mb-0">COMERCIALIZACIÓN DE AUTOMOTORES</h5>
          </div>
          <div class="badge-black px-4 py-2 w-75">
            <h6 class="text-white mb-0">NUEVOS Y USADOS</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-vehiculo-list></app-vehiculo-list>


  <!-- footer -->
  <div class="row mt-5">
    <div class="col-12">
      <footer class="footer-section text-center py-3">
        <p class="mb-0">Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;TuSegundazo</p>
      </footer>
    </div>
  </div>
</div>